.guarantee {
    background-color: #2C3E50;
    color: #FFF;
    padding: 50px 20px;
  }
  
  .guarantee > h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
  }
  
  .guarantee > p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  .btn {
    display: inline-block;
    margin: 20px 0;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
  }
  
  .primary-btn {
    background-color: #C70039;
    color: #FFF;
  }