.hero {
  background-color: #FF5733;
  color: #FFF;
  padding: 50px 20px;
}

.hero > h1 {
  font-size: 3em;
  margin: 0;
}

.hero > p {
  font-size: 1.2em;
  margin: 10px 0;
}
.btn {
  display: inline-block;
  margin: 20px 0;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
}

.primary-btn {
  background-color: #C70039;
  color: #FFF;
}
